{% extends 'base.html' %}

{% block content %}
  <h1>Account Information</h1>
  <p>Email: {{ user.email }}</p>

  {% if not user.is_staff and not user.is_active and skills %}
    <h2>Skills:</h2>
    <ul>
      {% for skill in skills %}
        <li> {{skill.name}}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% if not user.is_staff and user.is_active %}  
    <h2>Add a Skill</h2>
  <form action="{% url 'add_skill' %}" method="post">
    {% csrf_token %}
    <label for="skill_name">Skill:</label>
    <input type="text" id="skill_name" name="skill_name" required>
    <button type="submit">Add Skill</button>
  </form>
  {% endif %}
  <form action="{% url 'home' %}" method="get">
  </form>

    {% if user.is_superuser %}
    <button type="button" onclick="window.location.href='{% url 'user_list' %}'">View All Users</button>
    {% endif %}

  <form action="{% url 'directory' %}" method="get">
    <button type="submit">Directory</button>
  </form>

{% endblock %}
