{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddSection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/AddSection.css' %}"/>
</head>
<body>
    <h1>Section Creation Page</h1>
    <form action="/AddSectionPage/" method="post">
        {% csrf_token %}
        <span>
            <label>Course:</label>
            <select name="create section">
                <option value="">Please choose a course</option>
                {% for course in Courseoptions %}
                <option value="{{ course.id }}">{{ course.id }}</option>
                {% endfor %}
            </select>
            <br><label>Section Number:</label><input type="text" name="SectionNumber">
        </span>
        <button type="submit" name="chosen" value="Create Sections">Create Sections</button>
    </form>
    <br>{{ message1 }}
    <form action="/SectionPage/" method="get">
        {% csrf_token %}
        <br><button type="submit" name="chosen" value="Back">Back</button>
    </form>
</body>
</html>