<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
<h1>Course Page: </h1>
<form action="/CoursePage/" method="post">
    {% csrf_token %}
<span>
    <input type="submit" name="chosen" value="Add Course">
    <input type="submit" name="chosen" value="Delete Course">
</span>
</form>
<label>Courses</label>
{%  for i in Courses %}
    <br>{{ i.id }}<br/>
    <br>{{ i.name }}</br>
{% endfor %}
{{ message }}
<form>
    <input type="submit" name="chosen" value="Home">
</form>
</body>
</html>