{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notification.css' %}"/>
</head>
<body>
    <h1>Notifications</h1>


    <table class = 'center'>
        <tr>
            <th>From</th>
            <th>Notification</th>
        </tr>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.Sender }}</td>
                <td>{{ notification.notification }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    {% if permission == True %}
        <form action = '/Notification/' method = 'post'>
            {% csrf_token %}


            <div class = 'form-group'>
                <label for = 'new_notification'>Message:</label>
                <br>
                <textarea id = 'new_notification' name = 'new_notification' row = '10' cols = '76'></textarea>
                <br>
                <input type="submit" name="chosen" value="Send Notification">
            </div>

            <br>
            <br>

            <label>Recipients:</label>
            <br>
            <select name = "select_user" multiple>
                {% if super_user == True %}
                    <option value = 'All Instructors'>All Instructors</option>
                {% endif %}
                <option value = 'All Teacher Assistants'>All Teacher Assistants</option>
                {% for instructor in instructors %}
                    <option value = '{{ instructor.email }}'>Instructor: {{ instructor.email }}</option>
                {% endfor %}
                {% for teacherassistant in teacherassistants %}
                    <option value = '{{ teacherassistant.email }}'>Teacher Assistant: {{ teacherassistant.email }}</option>
                {% endfor %}
            </select>
            <br>
            {{ message }}
            <br>
        </form>
    {% endif %}

    <form action = '/Notification/' method = 'post'>
        {% csrf_token %}
        <input type="submit" name="chosen" value="Back">
    </form>
</body>
</html>