{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <h1>Sections</h1>
    <form action="/SectionPage/" method="post">
        {% csrf_token %}
    <span>
        <input type="submit" name="chosen" value="Add Section">
        <input type="submit" name="chosen" value="Delete Section">
    </span>
    </form>
    <label>Course</label>
    <select name="chosen">
        <option value=""></option>
        {% for course in Courses %}
        <option value="{{ course.id }}">{{ course.name }} {{ course.id }}</option>
        {% endfor %}
    </select>
    <br>{{ message }}
    <form action="/SectionPage/" method="post">
        {% csrf_token %}
        <br><input type="submit" name="chosen" value="Home">
    </form>

</body>
</html>