{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <h1>Section Page</h1>
    <form action="/SectionPage/" method="post">
        {% csrf_token %}
        <label>Courses:</label>
        <select name="show section">
        <option value="">Please choose a course</option>
        {% for course in Courseoptions %}
        <option value="{{ course.id }}">{{ course.id }}</option>
        {% endfor %}
        </select>
        <span><input type="submit" name="chosen" value="Show Sections"></span>
    </form>
    <br>{{ message }}
    <br><label>Sections</label>
    <table>
    {%  for section in Sections %}
        <tr>
        <td>
            {{ section.Course.id }}-{{ section.id }}
        </td>
        </tr>
    {% endfor %}
    </table>
    <form action="/SectionPage/" method="post">
        {% csrf_token %}
        <br>
        <input type="submit" name="chosen" value="Add Section">
        <input type="submit" name="chosen" value="Delete Section">
        <input type="submit" name="chosen" value="Assign Section">
        <br><input type="submit" name="chosen" value="Back">
    </form>
</body>
</html>