{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>TA Public Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/publicinfo.css' %}"/>
</head>
<body>
    <h2>TA Public Contact Information</h2>
        {% if tas %}
        <table class="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Skills</th>
        </tr>
        {% for person in tas %}
            <tr>
                <td>{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.email}}</td>
                {% if skills %}
                    <td>
                    {% for skill in skills %}
                        {% if skill.TeacherAssistant == person %}
                            {{ skill.name }}{% if not forloop.last %}, {% endif %}
                        {% endif %}

                    {% endfor %}
                    </td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
            {% else %}
            <p style="text-align: center">There are no TAs in the database.</p>
        {% endif %}
    </table>
    <br>
    <form action="{% url 'directory' %}" method="get">
    <button type="submit">Directory</button>
    </form>
</body>
</html>